<div class="main group-show">
  <div class="container">
    <div class="group">
      <h2><%= @group.name %></h2>
     
      <% @group.users.each do |user| %>
        <p><%= user.id %></p>
        <p><%= user.name %></p>
      <% end %>
      <%= link_to("このグループへ参加", "/groups/join") %>
    </div>
  </div>
</div>

          <li>
            <%= link_to("投稿一覧", "#{@group.id}/posts/index") %>
          </li>
          <li>
            <%= link_to("新規投稿", "#{@group.id}/posts/new") %>
          </li>

<div class="main posts-new">
  <div class="container">        
    <h1 class="form-heading">投稿する</h1>
    <%= form_for @group, :url => {:action => 'join'} do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.collection_select :id, Group.all, :id, :name, :prompt => true %>
          <%= f.submit "送信" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


　　　 