<div class="main posts-new">
  <div class="container">        
    <h1 class="form-heading">投稿する</h1>
    <%= form_for @post, :url => {:action => 'create'} do |f| %>
      <div class="form">
        <div class="form-body">

            <%= f.text_area :content %>
            <%= f.collection_select :user_id , User.all, :id, :name, :prompt => true %>
            <%= f.submit "送信" %>
          
        </div>
      </div>
    <% end %>
  </div>
</div>

    <% @current_user.groups.each do |group| %>
      <p><%= group.id %></p>
      <p><%= group.name %></p>
    <% end %>

