<div class="main posts-new">
  <div class="container">        
    <h1 class="form-heading">投稿する</h1>
    <%= form_for("/posts/create") do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_field :text %>
          <%= f.submit %>
          <%= f.collection_select :user_id, User.all, :id, :name, :prompt => true %>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="main posts-new">
  <div class="container">        
    <h1 class="form-heading">投稿する</h1>
    <%= form_for @post, :url => {:action => 'create'} do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_field :content %>
          <%= f.collection_select :user_id, User.all, :id, :name, :prompt => true %>
          <%= f.submit "送信" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

自分でやったやつ↓

<div class="main posts-new">
  <div class="container">        
    <h1 class="form-heading">投稿する</h1>
    <%= form_for("/posts/create") do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_field :text %>
          <%= f.submit %>
          <%= f.collection_select :user_id, User.all, :id, :name, :prompt => true %>
          <%= f.submit "送信" %>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>

@post = Post.new(
      content: params[:content],
      user_id: @current_user.id
    )
    if @post.save
      flash[:notice] = "投稿を作成しました"
      redirect_to("/posts/index")
    else
      render("posts/new")
    end


    <%= f.collection_select :user_id , User.all, :id, :name, :prompt => true %>